html {
  font-family: 'Raleway', sans-serif;
}

.ontop {
  z-index: 1000;
}
body {
  margin: 0;
}
.img {
  max-height: 15rem;
}
.wrap > .img {
  max-height: none;
  margin: 1rem auto 0 auto;
}
.dark {
  padding: 2rem 0.5rem;
}
.lighter {
  padding: 2rem 0.5rem;
}
.light, body > div {
  padding: 2rem 0.5rem;
}
.map {
  max-width: 100%;
  height:10rem;
  margin: 0 0 1rem 0;
  padding: 0;
}
.map:hover {
  height: 40rem;
}
.j-c-c {
  display: flex;
  justify-content: center;
}
.j-c-s {
  display: flex;
  justify-content: space-between;
}
.a-i-s {
  display: flex;
  align-content: flex-start;
}
.wrap {
  flex-wrap: wrap;
}
.space {
  min-height: 1rem;
  min-width: 1rem;
}
.no_space {
  display: none;
}
nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
}
.navdown {
  top: 6rem;
}
.nopadding {
  padding: 0;
}
nav > a, .nav > a {
  text-decoration: none;
  margin: 1rem;
}
footer > p {
  margin: 1rem 0.5rem;
}
a {
  color: inherit;
}
h1, h2, h3, h4 {
  font-weight: 400;
  font-family: 'Cherry Swash', serif;
  margin-top: 0;
  margin-bottom: 1rem;
}
h1 {font-size: 4rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1rem;}
.lead {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}
.nav, .lighter {
background-color: #455A64;
}
.light, body > div {
  background-color: #fff;
}
.dark {
  background-color: #607D8B;
}
nav, footer, logo {
  background-color: #263238;
}